	<!-- Main Navigation-->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><img src ="Assets/images/AP.png" class="logo"/>Abhi Patel</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <% var key %>

		<% if (key == "home") { %>
			<li class="nav-item active">
		<% } else { %>
			<li class="nav-item">
		<% } %>
			<a class="nav-link" href="/home"> Home</a>
      </li>
		<% if (key == "about") { %>
			<li class="nav-item active" >
		<% } else { %>
			<li class="nav-item">
		<% } %>
        	<a class="nav-link" href="/about"> About </a>
      </li>
		<% if (key == "projects") { %>
			<li class="nav-item active" >
		<% } else { %>
			<li class="nav-item">
		<% } %>
        	<a class="nav-link" href="/projects"> Projects</a>
      </li>
	  	<% if (key == "services") { %>
			<li class="nav-item active" >
		<% } else { %>
			<li class="nav-item">
		<% } %>
        	<a class="nav-link" href="/services"> Services</a>
      </li>

	  	<% if (key == "books") { %>
			<li class="nav-item active" >
		<% } else { %>
			<li class="nav-item">
		<% } %>
        	<a class="nav-link" href="/book-list"> Books</a>
      </li>
	  	<% if (key == "contact") { %>
			<li class="nav-item active" >
		<% } else { %>
			<li class="nav-item">
		<% } %>
	  		<a class="nav-link" href="/contact"> Contacts</a>
      </li>
	
  </div>

  
</nav>