<!--This page has services that I provide with icons-->
<main class="container">
		<div class="jumbotron jumbotron-fluid wrapper">
			
			<h1 class="display-7 header-text"><%= title %></h1>
			
			
			
		</div>
		<hr style="height:2px;border-width:0;color:gray;background-color:gray"/>
		
		<div class = "service-section" style = "margin-top:-15px;">
		
		<div class="row" style = "align-items:center; margin-bottom:30px;">
			<div class="col-md-3" style = "text-align:center">
				<img src="Assets/images/database.jpg" style="height:100px" alt="Database_img"/>
			</div>
			<div class="col-md-9">
				<h2   style = "text-align:left;">SQL development</h2>
				<p>databse administration,effective data management and data security</p>
			</div>
		</div>
		<hr style="margin:50px;"/>
		<div class="row"style = "align-items:center">	
			<div class="col-md-9"style = "text-align:right;">
				<h2 >Data analysis</h2>
				<p>Gather data, through analysis and persent with different visualization styles</p>
			</div>
			<div class="col-md-3"style = "text-align:center">
				<img src="Assets/images/analysis.png" style="height:100px" alt="Database_img"/>
			</div>
		</div>
			<button type="button" class="btn btn-warning"><a href="https://comp229-abhi.herokuapp.com/contact">Get in Touch</a></button>
			<p></p>
			
			</div>
		</div>

		
		
		
</main>

	<style>

		/****CSS CODE below*****/
		.wrapper {
			position: relative;
		}

		.header-wrapper {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			z-index: 0;
			height: 220px;
		}

		.header-wrapper img {
			height: 100%;
			width: 100%;
		}

		.header-text {
			z-index: 2;
			position: relative;
			color: #fff;
			margin-left: 80px;
			color: #034077;
		}
		.logo{
			
			
			position: relative;
			top: 0;
			right:0;
			left:0;
			z-index: 0;
			height: 40px;
			margin-right:7px;


		}
		.navbar-brand{
			margin-left: 20px;
			font-style: italic;

		}

		.nav-link{
			margin-right: 15px;
		}
		
		.header-text{
			font-variant: small-caps;
			font-family: Georgia, serif;
			color: #034077;
		}
		.service-section{
			padding:20px;
			background: #f5f5f5;
		}
		.jumbotron {
			position: relative;
			background: linear-gradient(to right, #EFEFBB, #D4D3DD);
			margin-bottom: -16.5px;
		}
		/****** Button CSS START *******/
		.btn,
		button,
		input[type="submit"],
		button[type="submit"]
		 {
			display:inline-block;
			padding: 10px 30px;
			color: #000;
		}
		.btn:hover,
		button:hover,
		input[type="submit"]:hover,
		button[type="submit"]:hover {
			background:#343a40;
			color: #fff !important;
			border-color: #343a40;
		}
		button a {color: #000; }
		button a:hover { 
			color: #fff; 
			text-decoration: none;
			}
		
		button.btn.btn-warning {
			margin: 0 auto;
			display: table;
		}
		/****** Button CSS END *******/
	
	</style>